@model IReadOnlyCollection<RoomReservation.Domain.Contracts.Buiding.Dtos.BuildingDto>
@inject SessionHelper SessionHelper

@if (SessionHelper.IsAdmin)
{
    <a href="/Building/AddEdit" class="btn btn-success">Add building</a>
}

<table class="table table-striped">
    <thead>
    <tr>
        <th scope="col">Name</th>
        <th scope="col">Address</th>
        <th scope="col"></th>
        <th scope="col"></th>
        <th scope="col"></th>
    </tr>
    </thead>
    <tbody>
    @foreach (var item in Model)
    {
        <tr>
            <th>@item.Name</th>
            <th>
                @item.Street, @item.BuildingNumber
                <br/>
                @item.PostalCode, @item.City
            </th>
            <th>
                <a href="/Room/Browse?buildingId=@item.Id" class="btn btn-primary">Browse rooms</a>
            </th>
            @if (SessionHelper.IsAdmin)
            {
                <th>
                    <a href="/Building/AddEdit?id=@item.Id" class="btn btn-primary">Edit</a>
                </th>
                <th>
                    <a href="/Building/Remove?id=@item.Id" class="btn btn-danger">Remove</a>
                </th>
            }
            else
            {
                <th></th>
                <th></th>
            }
        </tr>
    }
    </tbody>
</table>